# Methods and functions

In [2]:
mylist = [1, 2, 3]
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [6]:
mylist

[1, 2, 3]

In [8]:
# to get help there are three ways:
# 1. add your function then shift+tab
# 2. use help (mylist.insert)
# 3. use python documentation

In [9]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [10]:
#def keyword allows us to create functions
#def name_of_function(): call this naming as Snake casing
#when function print something is void and when returns something is not
#we don't need to define datatype for function in Python unlike C,...

In [11]:
def say_hello():
    print("hello")

In [12]:
say_hello()

hello

In [13]:
def say_hello(name):
    print(f'hello {name}')

In [15]:
say_hello('Sanaz')

hello Sanaz

In [16]:
def say_hello(name='Default'):
    print(f'hello {name}')

In [17]:
say_hello()

hello Default

In [18]:
def add_num(num1, num2):
   return num1 + num2

In [21]:
result = add_num (10,20)

In [22]:
result

30

In [23]:
type(result)

int

In [24]:
def print_result(a,b):
    print(a+b)

In [25]:
def return_result(a,b):
    return a + b

In [26]:
print_result(10, 20) # this is void and we can't do result = print_result()

30

In [27]:
return_result(10, 20)

30

In [28]:
def sum_numbers(num1, num2):
    return num1 + num2

In [29]:
sum_numbers(10, 20)

30

In [31]:
sum_numbers(5.5, 3.6)

9.1

In [32]:
sum_numbers('10', '20') # will concatenate two strings

'1020'

In [33]:
2%2

0

In [36]:
def even_check(number):
    return number%2 ==0

In [37]:
even_check(20)

True

In [38]:
#return true if any number is even inside a list

In [40]:
def check_even_list(num_list):
    for number in num_list:
        if number%2 == 0:
            return True
        else:
            pass # don't do anything

In [41]:
check_even_list([1, 3, 5]) # there is no output because of pass

In [43]:
check_even_list([2, 4, 5])

True

In [44]:
check_even_list([2, 1, 5])

True

In [49]:
def check_even_list(num_list):
    for number in num_list:
        if number%2 == 0:
            return True
        else:
            return False # this is wrong since it is only checking the first number

In [50]:
check_even_list([1, 3, 5])

False

In [51]:
check_even_list([1, 2, 5]) # this output is not correct

False

In [52]:
# this is the correct function
def check_even_list(num_list):
    for number in num_list:
        if number%2 == 0:
            return True
        else:
            pass
    return False

In [53]:
check_even_list([1, 2, 5]) # this output is correct

True

In [54]:
#return all the even numbers in the list
def check_even_list(num_list):
    even_numbers = []
    for number in num_list:
        if number%2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [55]:
check_even_list([1,2,3, 4, 5])

[2, 4]

In [56]:
check_even_list([1, 3, 5])

[]

# Tuple unpacking

In [57]:
stock_prices = [('APPL', 200), ('GOOG', 400), ('MSFT',  100)]

In [58]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [59]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [60]:
for ticker, price in stock_prices:
    print(price+ 0.1* price)

220.0
440.0
110.0

In [70]:
work_hours = [('Abby', 100), ('Billy', 4000), ('Cassie', 800)]

In [71]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    return (employee_of_month, current_max)

In [73]:
result = employee_check(work_hours)

In [74]:
result

('Billy', 4000)

In [76]:
name,hours = employee_check(work_hours)

In [77]:
name

'Billy'

In [78]:
hours

4000

In [ ]:
#shuffle

In [79]:
example = [1, 2, 3, 4, 5, 6, 7]

In [80]:
from random import shuffle

In [81]:
shuffle(example)

In [82]:
example

[7, 4, 6, 3, 2, 5, 1]

In [83]:
def shuffle_list (mylist):
    shuffle(mylist)
    return mylist

In [84]:
result = shuffle_list(example)

In [85]:
result

[3, 7, 1, 6, 5, 2, 4]

In [91]:
mylist = [' ', 'O', ' ']

In [92]:
shuffle_list(mylist)

[' ', ' ', 'O']

In [95]:
def player_guess():
    guess = ''
    
    while guess not in ['0', '1', '2']:
        guess = input("Pick a number: 0, 1, or 2\n")
    
    return int(guess)

In [97]:
myindex = player_guess()

Pick a number: 0, 1, or 2
2

In [98]:
myindex

2

In [100]:
def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

In [107]:
#Initial list
mylist = [' ', 'O', ' ']
#Shuffle list
mixedup_list = shuffle_list(mylist)
#User guess
guess = player_guess()
#Check guess
check_guess(mixedup_list, guess)

Pick a number: 0, 1, or 2
1
Correct!