Pyhton Data Structure

In [1]:
 2+1

3

In [2]:
2-1

1

In [4]:
3/2

1.5

In [5]:
7%4

3

In [6]:
#power **
2** 3

8

In [8]:
2+ 10 * 10 + 3

105

Variable assignment

In [19]:
#in Python we can assigne different data type to a variable multiple times due to its dynamic typing allocation
a = 5

In [20]:
a

5

In [21]:
a + a

10

In [22]:
a = a + a

In [23]:
type(a)

int

In [24]:
a = 30.1

In [25]:
type(a)

float

In [26]:
int b = 4 #syntax error

SyntaxError: invalid syntax (704113224.py, line 1)

In [27]:
b = 4

In [28]:
type(b)

int

In [29]:
my_income = 100

In [31]:
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [32]:
my_taxes

10.0

In [33]:
#for string we can use both single or double quotes

Strings are ordered sequences and list are unordered sequences

#character:      h e l l o
#index:          0 1 2 3 4
#reverse index:  0 -4 -3 -2 -1

In [36]:
'hello '

'hello '

In [37]:
"world"

'world'

In [38]:
'this is also string'

'this is also string'

In [39]:
"I'm going on a run"

"I'm going on a run"

In [40]:
print("hello")

hello

In [41]:
#if we want to print all the input we use print

In [42]:
print('hello \nworld')

hello
world

In [43]:
#length function
len("hello")

5

In [44]:
len('I am')

4

String Indexing and Slicing

In [45]:
mystring = "Hello World"

In [46]:
mystring

'Hello World'

In [47]:
mystring[0]

'H'

In [48]:
mystring[8]

'r'

In [49]:
mystring [-1]

'd'

In [50]:
#slicing
mystring = 'abcdefghijk'

In [51]:
mystring

'abcdefghijk'

In [52]:
mystring[2:] #print the substring from index 2 upto end

'cdefghijk'

In [53]:
#print the substring from the begining upto index 4 (upto not including)
mystring[:4]

'abcd'

In [54]:
mystring[3:6]

'def'

In [57]:
mystring[::] # to print out all string or jumps l time
#mystring[start:stop:stepsize]

'abcdefghijk'

In [56]:
mystring[::3]

'adgj'

In [58]:
mystring[2:7:2]

'ceg'

In [59]:
#how to reverse my string, we don't need to use a for loop for this
mystring[::-1]

'kjihgfedcba'

Immutability

In [61]:
name = "Sam"

In [62]:
#string are immutable
#name[0] gives a syntax error]
#use concatanation for changing characters

In [63]:
last_letters = name[1:]

In [64]:
last_letters

'am'

In [65]:
'P' + last_letters

'Pam'

In [66]:
x = 'Hello world'

In [67]:
x + " it is beautiful outside!"

'Hello world it is beautiful outside!'

In [68]:
#we also can do multiply for string

In [72]:
letter = 'z'

In [73]:
letter * 10

'zzzzzzzzzz'

In [74]:
x = 'Hello World'

In [75]:
x.upper()

'HELLO WORLD'

In [76]:
x.lower()

'hello world'

In [77]:
x.capitalize()

'Hello world'

In [79]:
x.split() #create the string to substring according to the number of white space

['Hello', 'World']

In [80]:
y= 'Hi this is a string'

In [81]:
y.split()

['Hi', 'this', 'is', 'a', 'string']

In [83]:
y.split('i') #split the string when it meets letter i

['H', ' th', 's ', 's a str', 'ng']

# Tuples

In [183]:
#tuples look like lists but they are immutable and instead of using [] we are using ()

In [184]:
t = (1, 2, 3)

In [185]:
mylist = [1, 2, 3]

In [186]:
type(t)

tuple

In [187]:
type(mylist)

list

In [188]:
len(t)

3

In [189]:
t = ('one', 2)

In [190]:
t

('one', 2)

In [191]:
t[0]

'one'

In [192]:
t[-1]

2

In [193]:
t =  ('a', 'a', 'b')

In [ ]:
# count the occurance of each letter
# returns the index of a letter

In [194]:
t.count('a')

2

In [195]:
t.index('a')

0

In [197]:
mylist[0]= 'new'

In [198]:
mylist

['new', 2, 3]

In [199]:
# we cannot do the same for tuple t like t[0] = 'new'

# Sets

In [201]:
# sets are unordered collections of unique elements

In [202]:
myset = set() # how we define a set

In [203]:
myset

set()

In [204]:
myset.add(1)

In [205]:
myset

{1}

In [206]:
myset.add(2)

In [207]:
myset

{1, 2}

In [208]:
myset.add(2) # it has to be a unique value and we already have 2 there

In [209]:
myset

{1, 2}

In [210]:
mylist = [1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3]

In [211]:
set(mylist)

{1, 2, 3}

# Booleans

In [212]:
True

True

In [213]:
False

False

In [214]:
type(False)

bool

In [215]:
1> 2

False

In [216]:
1 == 1

True

In [217]:
b = None # create a none datatype

# Files

In [243]:
# simple input and output, audio file, text file, ...

In [ ]:
# first we create a simple text file
# then we open it
# then we read it
# then we colse it

In [223]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [224]:
myfile = open('myfile.txt')

In [226]:
# myfile = open('mytest.txt') 
# there is no such file, or we didn't provide the correct file path

In [229]:
#to know the current path of my Jupyter notebook

In [230]:
pwd

'C:\\Users\\sanaz\\Python'

In [231]:
myfile = open('myfile.txt') #first we open the file then read it

In [232]:
myfile.read()
#read lines in a row

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [233]:
myfile.read()
# if we try to read it again it won't show any result
# the cursor reached the end of the file
# in order to read it again we have to reset the cursor

''

In [234]:
myfile.seek(0)

0

In [235]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [236]:
myfile.seek(0)

0

In [237]:
myfile.readlines()
#to read the text file line by line

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [238]:
pwd

'C:\\Users\\sanaz\\Python'

In [239]:
myfile.close()

In [241]:
myfile = open('myfile.txt') 
#= with open('myfile.txt') as my_new_file.... in case that we don't 
# want to close the file

In [245]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [248]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [252]:
#use shift+ tab to see all the information
# write, read and append mode
with open('myfile.txt', mode = 'r') as myfile:
    contents =myfile.read()

In [269]:
%%writefile new_file.txt
one on first
two on second
three on third

Writing new_file.txt

In [270]:
with open ('new_file.txt', mode = 'r') as f:
    print(f.read())

one on first
two on second
three on third

In [271]:
with open ('new_file.txt', mode = 'a') as f:
    f.write('\nfour on fourth')

In [272]:
with open ('new_file.txt', mode = 'r') as f:
    print(f.read())

one on first
two on second
three on third

four on fourth

In [273]:
with open('hi sanaz you are doing great', mode = 'w') as f:
    f.write('I created this file!')

In [274]:
with open('hi sanaz you are doing great', mode = 'r') as f:
    print(f.read())

I created this file!

# Logical comparison

In [275]:
2.0 == 2

True

In [279]:
'Bye' =='bye'

False

In [ ]:
# if you want to do multiple comparison at the same time
# how to chain multiple comparison

In [280]:
1< 2 < 3
#there is a hidden and between them

True

In [281]:
1< 2 > 3

False

In [282]:
1 < 2 and 2 < 3

True

In [283]:
1 == 1 or 2 ==2

True

In [285]:
# negation is not or !
not 1 == 1

False

# if, else_if, else statement

# if some_condition:
     #execute some code
#  elif some_other_condition:
    #do something different
# else:
    #do something else

In [286]:
if True:
    print('it is true!')

it is true!

In [287]:
if 3 > 2:
    print('it is true!')

it is true!

In [288]:
hungry = False
if hungry:
    print('Feed me please!')
else :
    print('I am not hungry')

I am not hungry

In [289]:
loc= 'Bank'
if loc == 'Auto shop':
    print("cars are cool!")
elif loc =='Bank':
    print("money is cool!")
elif loc =='Store':
    print("welcome to the store!")
else:
    print("I do not know much.")

money is cool!

In [290]:
name = 'Sammy'
if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Sammy

# for loops

In [291]:
mylist =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [292]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [295]:
for num in mylist:
    if num%2 == 0:
        print(f'Even number: {num}')
    else:
        print(f'Odd number: {num}')

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

In [296]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [298]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [299]:
for _ in mystring:
    print(_)

H
e
l
l
o

W
o
r
l
d

In [300]:
tup = (1, 2, 3)
for item in tup:
    print(item)

1
2
3

In [301]:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]

In [302]:
len(mylist)

4

In [303]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [305]:
for (a, b) in mylist: # for a,b in mylist
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [306]:
mylist = [(1, 2, 3), (5, 6, 7), (8, 9, 10)]

In [307]:
for a,b,c in mylist:
    print(b)

2
6
9

In [308]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
for item in d:
    print(item)

k1
k2
k3

In [310]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [312]:
for value in d.values():
    print(value)

1
2
3

In [313]:
for key, value in d.items():
    print(value)
    print(key)

1
k1
2
k2
3
k3

# While loop

In [315]:
#while some_boolean_condition:
   #do something

In [317]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1 # x +=1
else:
    print("x is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

# break, continue, pass

In [319]:
x = [1, 2, 3]
for item in x:
    pass
print('end of my script')

end of my script

In [322]:
mystring = 'Sammy'
for letter in mystring:
    if letter =='a':
        continue
    print(letter)

S
m
m
y

In [323]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [324]:
x = 0
while x < 5:
    print(x)
    x+=1

0
1
2
3
4

In [326]:
x =0
while x < 5:
    if x ==2:
        break
    print(x)
    x+=1

0
1

# Useful keywords in Python

In [327]:
mylist= [1, 2, 3]

In [328]:
for num in range(10): 
    print(num)

0
1
2
3
4
5
6
7
8
9

In [330]:
for num in range(3,10): 
    print(num)

3
4
5
6
7
8
9

In [331]:
for num in range (0, 10, 2):
    print(num)

0
2
4
6
8

In [333]:
# you can cast the range to list
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [334]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [335]:
# use enumerate function
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [336]:
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [339]:
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [343]:
mylist1 = [1, 2, 3, 4, 5]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

In [341]:
zip(mylist1, mylist2)

In [344]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [345]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [346]:
'x' in [1, 2, 3]

False

In [347]:
'x' in ['x', 'y', 'z']

True

In [348]:
'a' in 'a world'

True

In [349]:
'mykey' in {'mykey': 345}

True

In [351]:
d = {'mykey': 345}
345 in d.values()

True

# Mathematical functions

In [ ]:
# before using mathematical functions you should import them from library

In [352]:
mylist = [10, 20, 30, 40, 100]

In [353]:
min(mylist)

10

In [354]:
max(mylist)

100

In [355]:
from random import shuffle  # from random library import shuffle function

In [356]:
mylist = [ 1, 2, 3, 4,5, 6, 7, 8, 9, 10]

In [359]:
shuffle(mylist)

In [360]:
mylist

[1, 7, 9, 8, 10, 6, 2, 3, 5, 4]

In [361]:
from random import randint

In [362]:
randint(0, 100)

63

In [364]:
result = input('Enter a number: ') # will get the input from keyboard

Enter a number: 2

In [365]:
result

'2'

In [368]:
# the input function always throws a string variable
# so to change its type we can typecast its value

In [366]:
type(result)

str

In [367]:
float (result)

2.0

In [369]:
integer_result = int(input('Favorite number:'))

Favorite number:3

In [370]:
type(integer_result)

int

In [371]:
mystring = 'hello'

In [372]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [373]:
mylist

['h', 'e', 'l', 'l', 'o']

In [374]:
# there is an efficient way to do the same thing

In [375]:
mylist = [letter for letter in mystring]

In [376]:
mylist

['h', 'e', 'l', 'l', 'o']

In [377]:
mylist = [x for x in 'word']

In [378]:
mylist

['w', 'o', 'r', 'd']

In [379]:
mylist = [x for x in range(0, 11)]

In [380]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [381]:
mylist = [num**2 for num in range(0, 11)]

In [382]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [383]:
mylist =[x for x in range(0, 11) if x %2 ==0]

In [384]:
mylist

[0, 2, 4, 6, 8, 10]

In [385]:
mylist =[x**2 for x in range(0, 11) if x %2 ==0]

In [386]:
mylist

[0, 4, 16, 36, 64, 100]

In [387]:
celcius = [0, 10, 20, 34.5]
fahrenheit = [((9/5)* temp + 32 ) for temp in celcius]

In [388]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [390]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append((9/5)* temp + 32 )

In [391]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [392]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
#the order of this statement is kinda reverse order of what we said above

In [393]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [394]:
mylist = []

for x in [2, 4, 6]:
    for y in [ 100, 200, 300]:
        mylist.append(x*y)

In [395]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [396]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 1000]]

In [398]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]